.container {
  display: grid;
  grid-template-columns: 3fr 7fr;
  grid-template-rows: auto;
  min-height: 160px;
  height: 20%;
  gap: 10px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-right: 10px;
  padding-left: 10px;
  cursor: pointer;
  margin-right: 16px;
}

.container_item {
  display: flex;
  align-items: center;
  justify-items: center;
}

.description {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.description__title {
  font-weight: bold;
  font-size: medium;
  color: black;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.description__discount_price {
  font-weight: bold;
  color: #ef4444;
}

.description__original_price {
  font-weight: medium;
  font-size: small;
  color: #d1d5db;
}

.product_img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 1rem;
  border: 1px ridge #f3f4f6;
}
