.container {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 30%;
  min-width: 120px;
  gap: 6px;
  cursor: pointer;
  border-radius: 1rem;
}

.container_item {
  display: flex;
  align-items: center;
  justify-items: center;
}

.description {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.description__timer {
    font-weight: bold;
    font-size: smaller;
    color: #ef4444;
    background-color: #fef2f2;
  }

.description__title {
  font-weight: bold;
  font-size: smaller;
  color: black;
  overflow: hidden;
  text-overflow: ellipsis;
  min-height: 36px; /* How should I force this size? */
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.description__price_info {
  display: flex;
  flex-direction: row;
  gap: 4px;
}

.description__discount_rate {
  font-weight: bold;
  font-size: smaller;
  color: #ef4444;
}

.description__discount_price {
  font-weight: bold;
  font-size: smaller;
  color: black;
}

.product_img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 1rem;
  border: 1px ridge #f3f4f6;
}
