.heading {
  display: flex;
  padding: 16px 16px 12px 16px;
  justify-content: space-between;
}

.heading__title {
  display: flex;
  color: black;
  font-size: larger;
  font-weight: bold;
}

.heading__to_brand {
  display: flex;
  color: #999ba0;
  font-size: smaller;
  cursor: pointer;
  padding: 3px 10px 3px 10px;
  border: 1px solid #999ba0;
  border-radius: 5px;
}

.heading__to_brand:hover {
  color: #75AAF0;
  border-color: #75AAF0;
}

.container {
    display: flex;
    gap: 12px;
    padding: 12px 16px;
    overflow-x: auto;
    min-height: 230px;
}

.error_text {
    color: gray;
    display: block;
    margin: auto;
}