.container {
  display: grid;
  grid-template-rows: 3fr 2fr;
  background-color: white;
  min-width: 180px;
  width: 40%;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 6px;
}

.container_item {
  display: block;
  width: 100%;
  height: 100%;
}

.description {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.description__timer {
  font-weight: bold;
  font-size: smaller;
  color: #ef4444;
  background-color: #fef2f2;
}

.description__original_price {
  text-decoration: line-through;
  color: #d1d5db;
}

.description__title {
  font-weight: bold;
  font-size: smaller;
  color: black;
  overflow: hidden;
  text-overflow: ellipsis;
  min-height: 36px; /* How should I force this size? */
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.description__price_info {
  display: flex;
  flex-direction: row;
  gap: 4px;
}

.description__discount_rate {
  font-weight: bold;
  font-size: smaller;
  color: #ef4444;
}

.description__discount_price {
  font-weight: bold;
  font-size: smaller;
  color: black;
}

.product_img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 1rem;
  border: 1px ridge #f3f4f6;
}

.overlay {
  position: relative;
  bottom : 50%;
  left: 50%;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  translate: -52% -52%;
  text-align: center;
  align-items: center;
  border-radius: 1rem;
  font-size: large;
  font-weight: bold;
  text-anchor: middle;
  z-index: 999;
}
.overlay__text {
  position: relative;
  top: 45%;
}