@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-dynamic-subset.min.css");

html {
  width: 100%;
  height: 100%;
  font-family: Pretendard, sans-serif;
}

body {
  max-width: 800px;
  padding: 0;
  margin: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

#root {
  width: 100%;
}

*::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #F5F5F5;
}

*::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}

*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #5c5c5c;
}

/*moz hack for support*/
@media screen and (min--moz-device-pixel-ratio:0) {
  * {
    scrollbar-color: #5c5c5c #F5F5F5;
  }
}